section{
	width: 50%;
	margin:15px auto;
}

body {
	background: #eee;
}

#inputview {
	display: flex;
	height: 40px;
}

button {
	flex-grow:2;
}

input {
	padding: 0 4px 0 4px;
	flex-grow:5;
}

#button {
    border: 0;
    background: #ccc;
}

#container {
	width: 100%;
	margin: 20px auto;
	height: 100%;

}

#listview li {
    padding: 15px;
	margin: 2px 0;
    list-style: none;
}

.listItem {
	background: lightblue;
}

.doneItem {
	background: lightgreen;
}

footer {
	position:fixed;
	bottom:10px;
	width:50%;
	height:40px;
	left:0;
	right:0;
	margin:auto;
	background: #ccc;
}

footer p {
	display: inline-block;
}
